body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
}
#popupId{
    font-family: Arial, Helvetica, sans-serif;
}
header {
    height: 50px;
    background-color: #f0f0f0;
    position: absolute;
    top: 0px;
    width: 100vw;
}
footer {
    height: 100px;
    background-color: #f0f0f0;
    position: fixed;
    bottom: 0px;
    width: 100vw;
}
.window_wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    align-items: center;
    height: 90vh;
}
.wrapper_input {
    padding-bottom: 150px;
}
.btn {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    max-width: 685px;
}
.btn button:hover {  
    transform: scale(1.1);
    border: 1px solid #000;
}
.btn button {
    width: 18%;
    margin-right: 20px;
    cursor: pointer;
    border: 1px solid #f0f0f0;
    outline: none;
    padding: 5px 0px 5px 0px;
}
.btn button+button {
    margin-right: 25px;
    width: 16%;
    cursor: pointer;
}
.btn button+button+button {
    margin-right: 20px;
    width: 20%;
    cursor: pointer;
}
.btn button+button+button+button {
    margin-right: 20px;
    width: 20%;
    cursor: pointer;
}
.delete {
    height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #f0f0f0;
    outline: none;
    cursor: pointer;
}
.delete:hover {
    transform: scale(1.1);
    border: 1px solid #000;
}
.add_btn {
    height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #f0f0f0;
    outline: none;
    cursor: pointer;
    margin-top: 10px;
}
.add_btn:hover {
    transform: scale(1.1);
    border: 1px solid #000;
}
