<template>
  <div class="btn">
      <button v-on:click="testSort(0)">idSort</button>
      <button v-on:click="testSort(1)">nameSort</button>
      <button v-on:click="testSort(2)">costSort</button>
      <button v-on:click="testSort(3)">quantSort</button>
  </div>
</template>

<script>
export default {
    data(){
        return {
            sorted: {
                id: 'start',
                type: "increment"
            }
        }
    },

    methods:{
        testSort(id) {
            if(this.sorted.id == 'start' && id == 0){
                this.sorted.type = "decrement"
                this.$store.commit('sort',{sortType: 'down', id: id})
            }
            else if(this.sorted.id === id) {
                this.sorted.type = this.sorted.type === "increment" ? "decrement" : "increment"
                this.sorted.type === "increment" ? (
                    this.$store.commit('sort',{sortType: 'up', id: id})
                ) : (
                    this.$store.commit('sort',{sortType: 'down', id: id})
                )
            } else {
                this.sorted.type = "increment"
                this.$store.commit('sort',{sortType: 'up', id: id})
            }
            this.sorted.id = id
            
        }
    }
}
</script>

<style>

</style>