<template>
  <form v-on:submit.prevent="setList">
      <input v-model='inputData' placeholder="iphone, 300000, 3" />
      <button type="submit">set</button>
  </form>
</template>

<script>
export default {
    data(){
        return{
        }
    },
    computed: {
        inputData: {
            get(){
                return this.$store.getters.getNewString
            },
            set(e){
                this.$store.commit('newLineString', {text: e})
            }
        }
    },
    methods: {
        setList(){
            this.$store.commit('setNewLine')
        }
    }
}
</script>

<style>

</style>