<template>
    <div class="window_wrapper">
        <buttonsel/>
        <welement 
        v-for="storeString in mainStore"
        :key="storeString[0]"
        :string="storeString"
        />
        <button class="add_btn" v-on:click="openForm">Добавить</button>
        <div class="wrapper_input" v-if="openAddForm">
            <h3 id='popupId'>Добавьте, через запятую, имя продукта, цену и количество</h3>
            <inputForm/>
        </div>
    </div>
</template>

<script>
import inputForm from './input.vue'
import buttonsel from './buttons.vue'
import welement from './windowElement.vue'
export default {
    components:{
        welement,
        buttonsel,
        inputForm
    },
    data(){
        return {
            openAddForm: false
        }
    },
    computed:{
        mainStore: function(){
            return this.$store.getters.getStore
        }
    },
    methods:{
        openForm(){
            this.openAddForm = true
        }
    }
}
</script>

<style>

</style>