<template>
    <div id='eldiv'>
        <h2>{{ elId }}</h2>
        <h2>{{ elName }}</h2>
        <h2>{{ elCost }}</h2>
        <h2>{{ elQuant }}</h2>
        <button class="delete" v-on:click="deleteLine">Delete</button>
    </div>
</template>

<script>
export default {
    props: ['string'],
    computed:{
        elId: function(){
            return this.string[0]
        },
        elName(){
            return this.string[1]
        },
        elCost(){
            return this.string[2]
        },
        elQuant(){
            return this.string[3]
        }
    },
    methods:{
        deleteLine(){
            this.$store.commit('deleteLine', {line: this.elId})
        }
    }
}
</script>

<style>
#eldiv{
    width: 50vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
</style>