<template>
    <section id="main">
        <mainelement/>
    </section>
</template>

<script>
import mainelement from './components/mainWindow.vue'
export default {
    data(){
        return{
        }
    },
    components:{
        mainelement
    }
}
</script>

<style>
#main{
}
</style>